
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Region
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/damageHome/damage/br">Brazil</a></li>
    <li><a href="/damageHome/damage/eune">Europe Northeast</a></li>
    <li><a href="/damageHome/damage/euw">Europe West</a></li>
     <li><a href="/damageHome/damage/kr">Korea</a></li>
    <li><a href="/damageHome/damage/lan">Latin America North</a></li>
    <li><a href="/damageHome/damage/las">Latin America South</a></li>
      <li><a href="/damageHome/damage/na">North America</a></li>
      <li><a href="/damageHome/damage/oce">Oceanic</a></li>
      <li><a href="/damageHome/damage/ru">Russia</a></li>
      <li><a href="/damageHome/damage/tr">Turkey</a></li>
      <li role="separator" class="divider"></li>
      <li><li><a href="/damageHome/damage/">Overall</a></li></li>
    </ul>
</div>    
<div id="datatable">
<table class = "ui striped table">
    <thead><tr><th>Champion Name</th><th>Patch 5.11 Magic Damage</th><th>Patch 5.14 Magic Damage</th><th>Magic Damage Difference</th><th>Damage per game Before</th><th>Damage per game Before</th><th>Patch 5.11 Winrate</th><th>Patch 5.14 Winrate</th><th>Winrate Difference</th></tr></thead>
    <tbody>

        {{#each champDamageData}}
        
        <tr>
            <td> {{champname}}</td> 
            <td> {{sum}}</td>
            <td>{{afterSum}}</td>
            <td>{{damageDifference}}%</td>
            <td>{{damagePerGameBefore}} ({{gamesBefore}} game(s))</td>
            <td>{{damagePerGameAfter}} ({{gamesAfter}} game(s))</td>
            <!--
            <td> {{beforeWinRate}}</td>
            <td>{{afterWinRate}}</td>
<td> {{winRateDifference}}%</td>
            -->
        </tr>
        
        {{/each}} 

    </tbody></table>
        
        

    </div>



     